.perfil {
    display: flex;
    background-color: var(--fundo-card);
    max-width: 780px;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 1rem;
    margin-left: 10rem;
    margin-top: 2rem;
}

.perfil__banner {
    width: min(100%, 782px);
    height: 196px;
    object-fit: cover;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
}

.perfil__foto {
    width: 156px;
    height: 156px;
    margin-top: -80px;
    padding: 8px 24px 0;
}


.perfil__textos {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.perfil__nome {
    color: var(--texto-principal);
    font-weight: 600;
    font-size: 24px;
    padding-top: 20px;
}



.perfil__subnome {
    color: var(--texto-principal);
    font-weight: 600;
    padding-bottom: 4px;
}

.perfil__local-contato {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.perfil__info, .perfil__local {
    color: var(--texto-secundario);
    font-weight: 400;
    font-size: 14px;
}

.perfil__seguidores-conexoes {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.perfil__contato, .perfil__conexoes, .perfil__seguidores {
    color: var(--principal);
    font-weight: 700;
    font-size: 14px;
}

.perfil__acoes {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.perfil__mensagem, .perfil__mais {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 16px;
    width: 8rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--principal);
    margin-bottom: 1rem;
}

.perfil__mensagem {
    background-color: var(--principal);
    color: var(--fundo-card);
}

.perfil__mais {
    color: var(--principal);
}

